body {
  font-size: 16px;
}
h1 {
  font-family: fantasy;
}
#sample-works {
  width: 85%;
  height: 30rem;
  margin: auto;
}
#sample-works img {
  display: none;
  width: 100%;
  height: 100%;
}
.change-arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
  font-size: 1.8rem;
  color: #f0e9e9;
}
#previous-btn {
  left: 10%;
}
#next-btn {
  right: 10%;
}
.indicator-btn {
  width: 15px !important;
  height: 15px !important;
  border: none;
  bottom: 5%;
  background: #f8f0ee;
  opacity: 0.5;
}
#indicator-btn5 {
  left: 52%;
}
#indicator-btn4 {
  left: 50%;
}
#indicator-btn3 {
  left: 48%;
}
#indicator-btn2 {
  left: 46%;
}
#indicator-btn1 {
  left: 44%;
}
